/* .oscontent {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url(/cliente/img/ev-charger-condo.jpg);
}
 */